In [1]:
import pandas as pd

In [18]:
 data = pd.read_csv('https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv')

In [19]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
data['C'] = data['Category'].apply(lambda x: 1 if x=='spam' else 0 )

In [21]:
data.drop('Category',axis='columns',inplace=True)

In [26]:
data.head()
y = data.C
x = data.Message

In [23]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.3)

In [28]:
from sklearn.naive_bayes import MultinomialNB

In [30]:
model = MultinomialNB()

In [31]:
model

MultinomialNB()

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

In [35]:
v = CountVectorizer()

In [36]:
v

CountVectorizer()

In [74]:
X_train_v = v.fit_transform(X_train.values)

In [68]:
model.fit(X_train_v,Y_train)

MultinomialNB()

In [78]:
X_test_v = v.transform(X_test.values)

In [79]:
X_test

3497    Happy birthday... May u find ur prince charmin...
4279                         I've reached home finally...
5171                         Oh k. . I will come tomorrow
3139                                   Wat r u doing now?
2346            Hi this is yijue, can i meet u at 11 tmr?
                              ...
1445                            Those ducking chinchillas
951            Awesome, lemme know whenever you're around
5353    Guai... Ãœ shd haf seen him when he's naughty.....
222     There is os called ubandu which will run witho...
4540    Party's at my place at usf, no charge (but if ...
Name: Message, Length: 1672, dtype: object

In [80]:
import numpy as np
X_test_v.toarray()[1:]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [81]:
model.score(X_test_v,Y_test)

0.9826555023923444