In [45]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

In [46]:
data = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv")

In [47]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [48]:
sur = data['Survived']

In [49]:
dataa = data[['Pclass','Sex','Fare']]

In [51]:
dataa.head()

   Pclass     Sex     Fare
0       3    male   7.2500
1       1  female  71.2833
2       3  female   7.9250
3       1  female  53.1000
4       3    male   8.0500

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
enc_sex = LabelEncoder()
enc_fare = LabelEncoder()

In [70]:
dataa['S'] = enc_sex.fit_transform(dataa['Sex'])

In [78]:
d = dataa.drop(["Fare","Sex"],axis="columns")

In [81]:
d.head()

   Pclass  S  fare
0       3  1    18
1       1  0   207
2       3  0    41
3       1  0   189
4       3  1    43

In [82]:
from sklearn import tree

In [97]:
model = tree.DecisionTreeClassifier()

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
X_train,X_test,Y_train,Y_test = train_test_split(d,sur,test_size=0.2)

In [100]:
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [101]:
model.score(X_test,Y_test)

0.8324022346368715