In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.datasets import load_digits

In [3]:
dff = load_digits()

In [4]:
dir(dff)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [5]:
from sklearn.model_selection import cross_val_score

In [6]:
from sklearn.linear_model import LogisticRegression

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
from sklearn.naive_bayes import GaussianNB

In [10]:
from sklearn.naive_bayes import MultinomialNB

In [11]:
from sklearn.svm import SVC

In [12]:
from sklearn.model_selection import GridSearchCV

In [13]:
from sklearn.model_selection import RandomizedSearchCV

In [14]:
a = GridSearchCV(SVC(gamma='auto'),{
    'C' : [1,10,20],
    'kernel' : ['linear','rbf']
     } , cv=5)
a.fit(dff.data,dff.target)
a.cv_results_

{'mean_fit_time': array([0.03368487, 0.2968081 , 0.0272449 , 0.25588751, 0.02883091,
        0.51822209]),
 'std_fit_time': array([0.00285054, 0.0227873 , 0.00432124, 0.02676291, 0.00701645,
        0.14220578]),
 'mean_score_time': array([0.00991096, 0.08242736, 0.00585299, 0.07889824, 0.00692601,
        0.15618405]),
 'std_score_time': array([0.00402297, 0.00645081, 0.0024934 , 0.00698252, 0.00112625,
        0.03460046]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'linear'},
  {'C': 1, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'}],
 'split0_test_score': array([0.96388889, 0.41111111, 0.96388889, 0.45277778, 0.96388889,
        0.45277778]),
 'split1_test_score': array([0.91944444, 0.45      , 0.91944444, 0.46944444, 0.91944444,
        0.46944444]),
 'split2_test_score': array([0.96657382, 0.454039  , 0.96657382, 0.47910864, 0.96657382,
        0.47910864]),
 'split3_test_score': array([0.9637883 , 0.44846797, 0.9637883 , 0.47910864, 0.9637883 ,
        0.47910864]),
 'split4_test_score': array([0.92479109, 0.47910864, 0.92479109, 0.50139276, 0.92479109,
        0.50139276]),
 'mean_test_score': array([0.94769731, 0.44854534, 0.94769731, 0.47636645, 0.94769731,
        0.47636645]),
 'std_test_score': array([0.02097775, 0.02176115, 0.02097775, 0.01578414, 0.02097775,
        0.01578414]),
 'rank_test_score': array([1, 6, 1, 4, 1, 4])}

In [15]:
 df = pd.DataFrame(a.cv_results_)

In [16]:
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.033685,0.002851,0.009911,0.004023,1,linear,"{'C': 1, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1
1,0.296808,0.022787,0.082427,0.006451,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.411111,0.450000,0.454039,0.448468,0.479109,0.448545,0.021761,6
2,0.027245,0.004321,0.005853,0.002493,10,linear,"{'C': 10, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1
3,0.255888,0.026763,0.078898,0.006983,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.452778,0.469444,0.479109,0.479109,0.501393,0.476366,0.015784,4
4,0.028831,0.007016,0.006926,0.001126,20,linear,"{'C': 20, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1
5,0.518222,0.142206,0.156184,0.034600,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.452778,0.469444,0.479109,0.479109,0.501393,0.476366,0.015784,4

In [17]:
d = df[['param_C','param_kernel','params','mean_test_score']]

In [18]:
d

  param_C param_kernel                         params  mean_test_score
0       1       linear   {'C': 1, 'kernel': 'linear'}         0.947697
1       1          rbf      {'C': 1, 'kernel': 'rbf'}         0.448545
2      10       linear  {'C': 10, 'kernel': 'linear'}         0.947697
3      10          rbf     {'C': 10, 'kernel': 'rbf'}         0.476366
4      20       linear  {'C': 20, 'kernel': 'linear'}         0.947697
5      20          rbf     {'C': 20, 'kernel': 'rbf'}         0.476366

In [19]:
b = RandomizedSearchCV(SVC(gamma = 'auto'),{
    'C' : [1,5,10,20,30],
    'kernel': ['rbf','linear']
}
     , cv = 5 , n_iter = 2 )
b.fit(dff.data,dff.target)
r =b.cv_results_

In [20]:
rr = pd.DataFrame(b.cv_results_)

In [21]:
rr[['param_kernel','param_C','mean_test_score']]

  param_kernel param_C  mean_test_score
0          rbf       1         0.448545
1          rbf      30         0.476366

In [22]:
model_params = {
    'svm' :{
        'model' : SVC(gamma='auto'),
        'params'  : {'C': [1,10,20]
                      ,'kernel': ['rbf','linear']},
        },
    'LG' : {
        'model' : LogisticRegression( solver='liblinear'),
        'params'  : { 'C' : [ 1, 5 ,10]}
        },
    'RFC' : {
        'model' : RandomForestClassifier(),
        'params'  : {'n_estimators' : [1,5,10]}
        },
    'tree': {
        'model' : DecisionTreeClassifier(),
        'params': {}
        },
    'GNB' : {
        'model' : GaussianNB(),
        'params': {}
        },
    'MNB' : { 
        'model' : MultinomialNB(),
        'params'  : {}   
        
        }
}

In [23]:
result = []

In [24]:
for model , mp in model_params.items():
    abhi = GridSearchCV(mp['model'],mp['params'] , cv = 5, return_train_score=False)
    abhi.fit(dff.data,dff.target)
    result.append({
        'model' : model,
        'best_score' : abhi.best_score_,
        'best_params' : abhi.best_params_
    })

In [25]:
data = pd.DataFrame(result)

In [26]:
data

  model  best_score                   best_params
0   svm    0.947697  {'C': 1, 'kernel': 'linear'}
1    LG    0.922114                      {'C': 1}
2   RFC    0.903211          {'n_estimators': 10}
3  tree    0.783019                            {}
4   GNB    0.806928                            {}
5   MNB    0.870350                            {}